@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Squada+One&display=swap");


@media screen and (max-width: 1110px){
  .home-nav-list {
    list-style: none;
    width: 150px;
    font-size: 11px;
    height: 30px;
  }
}
@media screen and (max-width: 1024px) {
  .home--nav {
    justify-content: space-around;
  }
  .home-nav-list {
    padding: unset;
  }
  .home-nav-links {
    justify-content: right;
  }
}
@media screen and (max-width: 945px){
  .home-nav {
    justify-content: unset;
  }
  .nav-links-title {
    display: none;
  }
  .home-nav-list {
    list-style: none;
    width: 50px;
    height: 25px;
  }
}
@media screen and (max-width: 768px) {
  .home-nav {
    justify-content: unset;
  }
  .home-nav-list {
    list-style: none;
    width: 50px;
    height: 25px;
  }
  .nav-links-title {
    display: none;
  }
  .sidenav-open {
    right: 0%;
    transition: 0.5s;
  }
}

@media screen and (max-width: 425px) {
  .home-nav-list {
    list-style: none;
    width: 50px;

    height: 25px;
  }
  .nav-links-title {
    display: none;
  }
  .sidenav-open {
    right: 0%;
    transition: 0.5s;
  }
}

@media screen and (max-width: 320px) {
  .home--nav {
    justify-content: space-around;
  }
  .home-nav-list {
    margin: unset;
    padding: unset;
  }
  .home-nav-links {
    justify-content: right;
  }
}
