.comments-likes {
  width: 100%;
  border-top: 1px solid black;
}
.comments-likes > .buttons-display {
  display: flex;
  justify-content: space-between;
}
.comments-likes > .buttons-display > .buttons > button {
  background-color: transparent;
  border: none;
  outline: none;
}
.likes-comments-counter {
  display: flex;
}
