:root {
  --primary-color: #6d6d6d;
  --secondary-color: #fc9536;
  --third-color: #e6e6e6;
  --fourth-color: rgb(42, 240, 42);
}
.login--tab {
  height: 500px;
  width: 1000px;
  display: flex;
  justify-content: space-between;
  background-color: var(--primary-color);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}
.login--tab-form {
  background-color: white;
  width: 50%;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  align-items: center;
  justify-content: center;
}
.login--tab-form > input[type="text"],
.login--tab-form > input[type="password"] {
  width: 50%;
  height: 30px;
  outline: NONE;

  background-color: var(--primary-color);
  border: none;
  padding: 10px;
}
.login--tab-form > input[type="text"]::placeholder,
input[type="password"]::placeholder {
  color: var(--third-color);
}
.login--tab-form > input[type="text"]:focus,
.login--tab-form > input[type="password"]:focus {
  transition: 0.5s;
  font-size: 20px;
}

.login--tab-form > input[type="submit"] {
  height: 40px;
  background-color: var(--secondary-color);
  color: white;
  font-weight: bolder;
  outline: none;
  border: none;
  width: 54%;
}
.login--tab-form > input[type="submit"]:active {
  box-shadow: 0 0 1pt 1pt orange;
}
.login--tab-form > button,
              /* REGISTER */

.register--modal-form > .create-account {
  margin: 10px;
  outline: none;
  border: none;
  background-color: var(--fourth-color);
  color: white;
  height: 40px;
  width: 54%;
  font-weight: bolder;
}

.register--modal-form {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.register--modal-form .close-button {
  width: 30px;
  align-self: flex-end;
  color: black;
  font-weight: bolder;
  outline: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.register--modal-form > input {
  height: 40px;
}
.register--modal-form > input:focus {
  box-shadow: 0 0 1pt 2pt var(--secondary-color);
  outline: none;
  border: none;
}
.register--modal-form > .create-account {
  align-self: center;
  cursor: pointer;
}
@media only screen and (max-width: 500px) {
  .login--tab {
    height: 100%;
    width: 100vw;
    display: flex;
    justify-content: space-between;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
  }
  .login--tab-form {
    background-color: white;
    width: 100%;
    display: flex;
    flex-direction: column;
    border: none;
    align-items: center;
    justify-content: flex-start;
  }
  .login--tab-form > h1 {
    max-width: 90%;
    text-align: start;
  }
  .login--tab-form > input[type="text"],
  .login--tab-form > input[type="password"] {
    width: 80%;
    height: 30px;
    outline: none;
    background-color: var(--primary-color);
    border: none;
    padding: 10px;
  }
  .login--tab-form > input[type="submit"] {
    height: 40px;
    background-color: var(--secondary-color);
    color: white;
    font-weight: bolder;
    outline: none;
    border: none;
    width: 86%;
  }
  /* REGISTER */
  .register--modal-form > .create-account {
    margin: 10px;
    outline: none;
    border: none;
    background-color: var(--fourth-color);
    color: white;
    height: 40px;
    width: 62%;
    font-weight: bolder;
  }

  .register--modal-form {
    height: 100%;
    width: 100%;
    max-width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 5px;
  }
  .register--modal-form > input {
    height: 40px;
    width: 60%;
  }
  .register--modal-form > h1 {
    font-size: 150%;
    width: 40%;
  }
  .register--modal-form .close-button {
    width: 30px;

    color: black;
    font-weight: bolder;
    outline: none;
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-right: 100px;
  }
}
